@page "/book"
@using DemoMod9MAUI.Data
@using Microsoft.Data.SqlClient

<h3>Book</h3>
<center>
	<h1>Add a Book to the Collection</h1>
</center>

<form>

	<div class="row">
		<div class="col">
			<label for="validationDefault04">Book ID:</label>
			<input type="text" class="form-control form-control-sm" id="bookID" placeholder="Book ID #" name="bookID" @bind="@book.BookId">
		</div>
		<div class="col">
			<label for="validationDefault05">Title:</label>
			<input type="text" class="form-control form-control-sm" id="title" placeholder="The Great Gatsby" name="title" @bind="@book.BookTitle">
		</div>
		<div class="col">
			<label for="validationDefault05">Author:</label>
			<input type="text" class="form-control form-control-sm" id="author" placeholder="F. Scott Fitzgerald" name="author" @bind="@book.BookAuthor">
		</div>
	</div>
	<br /><div class="row">
		<div class="col">
			<label for="validationDefault05">Price:</label>
			<input type="text" class="form-control form-control-sm" id="price" placeholder="$10.00" name="price" @bind="@book.Price">
		</div>
		<div class="col">
			<label for="validationDefault05">Quantity:</label>
			<input type="text" class="form-control form-control-sm" id="quantity" placeholder="10" name="quantity" @bind="@book.Quantity">
		</div>

		<br /><br /><br /><br /><button type="button" class="btn btn-primary btn-lg btn-block" @onclick="AddNewBook">Add Book</button>

	</div>
</form>

<br />

@code {
	public DBook book = new DBook();

	private async void AddNewBook()
	{
		string connectBooks = @"Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Library;Integrated Security=True";
		SqlConnection connection = new SqlConnection(connectBooks);

		connection.Open();
		SqlCommand cmd = new SqlCommand("INSERT into book(bookId, bookTitle, bookAuthor, price, quantity) values (@BookId, @BookTitle, @BookAuthor, @Price, @Quantity)", connection);

		// AddWithValue is used whenever you want to add a parameter by specifying its name and value
		cmd.Parameters.AddWithValue("@BookID", book.BookId);
		cmd.Parameters.AddWithValue("@BookTitle", book.BookTitle);
		cmd.Parameters.AddWithValue("@BookAuthor", book.BookAuthor);
		cmd.Parameters.AddWithValue("@Price", book.Price);
		cmd.Parameters.AddWithValue("@Quantity", book.Quantity);

		cmd.ExecuteNonQuery();

		await Application.Current.MainPage.DisplayAlert("Success", "Book Successfully Added", "OK");
	}
}
