@page "/flights"
@using Assignment2

<style>
    .maincontent
    {
        margin:0;
        display: flex;
        flex-wrap:wrap;
    }
    .maincontent > div
    {
        flex-grow:1;
    }
    .maincontent > div:nth-child(3)
    {
/*         background-color:lightblue; */
        width:100%;

    }
    .maincontent > div:nth-child(2)
    {
        text-align:right;
        position:relative;
        margin-right:0;
/*         background-color:lightcoral; */
    }
    .maincontent > div:nth-child(1)
    {
/*         background-color:lightyellow; */
    }
    .maincontent div:nth-child(2) > input
    {
        margin-right:0;
        margin:auto;
    }
   
    h3
    {
        text-align:center;
    }

    .reserve
    {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: flex-end;
    }
    .reserve > form > button
    {
        display:block;
        margin:auto;
        margin-left:53%;
        margin-top:1em;
        background-color:royalblue;
        color:white;
        border-radius:5px;
    }
    .reserve > form > input
    {
        border-radius:5px;
        width:300px;
    }
    
    .flightfinder
    {
        text-align:right;
        margin:50px;
    }
    .flightfinder > form > div > select
    {
        width:85%;
        border-radius:5px;
    }

    .flightfinder > form > button {
        display: block;
        margin: auto;
        margin-top: 1em;
        background-color: royalblue;
        color: white;
        border-radius:5px;
    }
    .selectionbutton
    {
        margin-bottom:20px;
    }

    .selectionstring 
    {
        border-top: solid black 2px;
        padding-top:18px;
    }


</style>
<div class="maincontent">
    <div class="flights">
        <h3>Flights</h3><br />
        <p>To create a reservation: Use our Flight Finder to search for a flight, then press <button disabled style="color:black; border-color:black;">"Select"</button></p>
        @foreach (Flight flight in foundFlightList)

        {

            @*<div class="foundflightdisplay">
            <p class="selectionstring">@FlightManager.DisplayFlight(flight) </p>
            <button class="selectionbutton"type="button" @onclick="() => UpdateFields(flight)">Select @flight.FlightCode</button><br/>
            </div>*@

            // formats the flight information to look nicer
            <div class="foundflightdisplay">
                <p class="selectionstring">
                    <strong>Flight:</strong> @flight.FlightCode, <strong>Airline:</strong> @flight.AirlineName <br />
                    <strong>From:</strong> @flight.OriginAirport <br />
                    <strong>To:</strong> @flight.DestAirport<br />
                    <strong>Day:</strong> @flight.WeekDate, <strong>Time:</strong> @flight.Time <br />
                    <strong>Seats Remaining:</strong> @flight.Seats, <strong>Cost:</strong> @flight.Cost<br />
                </p>
                <button class="selectionbutton" type="button" @onclick="() => UpdateFields(flight)">Select @flight.FlightCode</button><br />
            </div>
        }
    </div>

        <div class="reserve">    
            <form>
                <h3>Reserve</h3>
                <label for="flight">Flight:</label>
                <input type="text" name="flight" @bind="flightCode" readonly/><br />

                <label for="airline">Airline:</label>
                <input type="text" name="airline" @bind="@airlineName" readonly/><br />

                <label for="day">Day:</label>
            <input type="text" name="day" @bind="@weekDate" readonly /><br />

                <label for="time">Time:</label>
            <input type="text" name="time" @bind="@time" readonly /><br />

                <label for="cost">Cost:</label>
            <input type="text" name="cost" @bind="@cost" readonly /><br />

                <label for="name">Name:</label>
                <input type="text" name="name" @bind="@customerName"/><br />

                <label for="citizenship">Citizenship:</label>
                <input type="text" name="citizenship" @bind="@citizenship"/><br />

                <button type="button" @onclick="PassReservation">Reserve</button><br/>
                <p>@reservationMessage</p>
            </form>            
        </div>
    <div class="flightfinder">
        <h3>Flight Finder</h3><br />
        <form>
            <div>
                <label for="from">From:</label>
                <select name="from" @bind="originAirportCode">
                    <option value="YYC">YYC</option>
                    <option value="YEG">YEG</option>
                    <option value="YUL">YUL</option>
                    <option value="YOW">YOW</option>
                    <option value="YYZ">YYZ</option>
                    <option value="YVR">YVR</option>
                    <option value="YWG">YWG</option>
                    <option value="ATL">ATL</option>
                    <option value="PEK">PEK</option>
                    <option value="DXB">DXB</option>
                    <option value="HKG">HKG</option>
                    <option value="LHR">LHR</option>
                    <option value="HND">HND</option>
                    <option value="ORD">ORD</option>
                    <option value="PVG">PVG</option>
                    <option value="CDG">CDG</option>
                    <option value="AMS">AMS</option>
                    <option value="DEL">DEL</option>
                    <option value="FRA">FRA</option>
                    <option value="DFW">DFW</option>
                </select><br />
            </div>

            <div>
                <label for="to">To:</label>
                <select name="to" @bind="destAirportCode">
                    <option value="YYC">YYC</option>
                    <option value="YEG">YEG</option>
                    <option value="YUL">YUL</option>
                    <option value="YOW">YOW</option>
                    <option value="YYZ">YYZ</option>
                    <option value="YVR">YVR</option>
                    <option value="YWG">YWG</option>
                    <option value="ATL">ATL</option>
                    <option value="PEK">PEK</option>
                    <option value="DXB">DXB</option>
                    <option value="HKG">HKG</option>
                    <option value="LHR">LHR</option>
                    <option value="HND">HND</option>
                    <option value="ORD">ORD</option>
                    <option value="PVG">PVG</option>
                    <option value="CDG">CDG</option>
                    <option value="AMS">AMS</option>
                    <option value="DEL">DEL</option>
                    <option value="FRA">FRA</option>
                    <option value="DFW">DFW</option>
                </select><br />
            </div>

            <div>
                <label for="day">Day:</label>
                <select name="day" @bind="day">
                    <option value="Any">Any</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select><br />
            </div>

            <button type="button" @onclick="PassFlightFinder">Find Flights</button>
        </form>
    </div>
</div>



@code {
    private string flightCode { get; set; }
    private string airlineName { get; set; } = "";
    private string weekDate { get; set; } = "";
    private string time { get; set; } = "";
    private double cost { get; set; } = 0;
    private string customerName { get; set; }
    private string citizenship { get; set; }

    private string originAirportCode { get; set; } = "YYC";
    private string destAirportCode { get; set; } = "YYC";
    private string day { get; set; } = "Any";
    private List<Flight> foundFlightList { get; set; } = new List<Flight>();

    private Flight flightButton { get; set; }

    private string reservationMessage { get; set; } = "";


    // Passes parameters to FlightManager.FindFlights function read from <input> boxes
    private void PassFlightFinder()
    {
        Airport originAirport = AirportManager.LoadAirportFromCode(originAirportCode);
        Airport destAirport = AirportManager.LoadAirportFromCode(destAirportCode);
        string weekDay = day;
        foundFlightList = FlightManager.FindFlights(originAirport, destAirport, weekDay);
    }

    // Passes parameters to ReservationManager.MakeReservation function read from <input> boxes
    // catches Exceptions and displays e.Message to reservationMessage
    private void PassReservation()
    {
        try
        {
            Flight foundFlight = FlightManager.GetFlightFromCode(flightCode);
            string name = customerName;
            string cit = citizenship;
            ReservationManager.MakeReservation(foundFlight, name, cit);
            reservationMessage = "Reservation Successfully Created!";
        }
        catch (FlightNotFoundException e)
        {
            reservationMessage = $"Flight {flightCode} not found";
        }
        catch (FlightFullException e)
        {
            reservationMessage = e.Message;
        }
        catch (FlightNullException e)
        {
            reservationMessage = e.Message;
        }
        catch (NameNullException e)
        {
            reservationMessage = e.Message;
        }
        catch (CitizenshipNullException e)
        {
            reservationMessage = e.Message;
        }
        catch (Exception)
        {
            reservationMessage = "Something went wrong";
        }

    }

    // updates <input> fields after @onclick from found flight results
    // requires Flight object as parameter
    private void UpdateFields(Flight f)
    {
        flightCode = f.FlightCode;
        airlineName = f.AirlineName;
        weekDate = f.WeekDate;
        time = f.Time;
        cost = f.Cost;
    }

}